<h1>Edit Todo Item</h1>

<%= turbo_frame_tag dom_id(@todo_item, :edit) do %>
   <%= render "form", todo_list: @todo_list, todo_item: @todo_item %>
<% end %>

<%= link_to "Back", todo_list_path(@todo_list)%>
