<%= link_to "New TodoList", new_todo_list_path, data: { turbo_frame: dom_id(TodoList.new) } %>

<%= turbo_frame_tag TodoList.new %>

<div>
  <%= turbo_frame_tag "todo_lists" do %>
    <%= render @todo_lists %>
  <% end %>
</div>
